body {
	background-color: purple;
}

div {
	border: 3px solid black;
}

.div-block {
	display: block;
}

.div-inline {
	display: inline;
}

.div-inline-block {
	display: inline-block;
	color: navy;
}

article section:nth-of-type(even){
	border: 2px dashed blue;
}

article section:nth-child(odd){
	color: lightgrey;
}

article section:first-of-type{
	background-color: pink;
}

