body {
	display: flex;
}

nav {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.top-nav {
	margin-left: auto;
	display: inline-flex;
	padding: 10px;
}

.top-nav li {
	list-style: none;
	padding: 1em;
}

.top-nav li a {
	text-decoration: none;
	color: #222;
	font-family: "Arial";
}

.Sign-in {
	background: #4885ed;
	color: white;
    text-align: center;
    text-decoration: none;
    display: inline-flex;
    font-size: 1em;
}

.container {
	display: flex;
	flex-direction: column;
}