body {
	background: pink;
}

.top-nav {
	background-color: goldenrod;
	height: 40px;
}
.top-nav li {
	list-style-type: none;
	padding: 5px;
	display: inline-block;
	font-family: "Arial";
	float: right;
	margin: 5px;
}
.top-nav li a {
	text-decoration: none;
}
.title {
	border:1px solid grey;
}
.images {
	border: 2px dotted black;
}
.text1 {
	border: 3px solid blue;
}
.text2 {
	border: 4px dotted green;
}
.footer {
	border: 5px solid yellow;
}